
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Banzhow</title>

    <!-- font-awesome -->
    <link href="/banzhow/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link href="/banzhow/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- Bootstrap core CSS -->
    <link href="/banzhow/css/bootstrap.css" rel="stylesheet">

    <!-- custom CSS -->
    <link href="/banzhow/css/style.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="/banzhow/css/ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 7]>
    <link href="/banzhow/css/ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- JavaScript -->
    <script type="text/javascript" src="/banzhow/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/banzhow/js/bootstrap.js"></script>
    <script type="text/javascript" src="/banzhow/js/plugins.js"></script>
    <!--[if lte IE 7]>
    <script type="text/javascript" src="/banzhow/js/boxsizing/jquery.boxsizing.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/banzhow/js/banzhow.js"></script>
</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html">Yaratıcı Tasarım</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/Index">Home</a></li>
                    <li class="active"><a href="/Home/Services">Services</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Portfolio <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Portfolio/Index">1 Column Portfolio</a></li>
                            <li><a href="/Portfolio/Index2">2 Column Portfolio</a></li>
                            <li><a href="/Portfolio/Index3">3 Column Portfolio</a></li>
                            <li><a href="/Portfolio/Item">Single Portfolio Item</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Blog <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Blog">Blog Home</a></li>
                            <li><a href="/Blog/Details">Blog Post</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Other Pages <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/OtherPages/Index">Full Width Page</a></li>
                            <li><a href="/OtherPages/Sidebar">Sidebar Page</a></li>
                            <li><a href="/OtherPages/Faq">FAQ</a></li>
                            <li><a href="/OtherPages/o404">404</a></li>
                        </ul>
                    </li>
                    <li><a href="/Home/Contact">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    <div class="section-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">Services</h1>
                </div>

            </div>
        </div> <!-- /.container -->
    </div> <!-- /.section-colored -->

    <div class="container container-int">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Services</li>
        </ol>

        <div class="row">

            <div class="col-lg-12">

                <blockquote>
                    <p>Zaman içerisinde ileriye doğru ilerledikçe, insanların ve toplumların ihtiyaçları da giderek artmakta ve karmaşıklaşmaktadır. Ancak süregelen küresel sistemin nitelikleri sebebiyle, toplumun tüm kesimleri bu sürece eş zamanlı olarak ayak uyduramaz. Birçokları geride kalırken, bazıları bu sürece ayak uydurabilir. Bu ayak uyduramamanın nedeni çoğu zaman içinde yaşadığımız sistemin vahşi taraflarıdır. Örneğin insan toplumlarının ezici çoğunluğunda görülen hiyerarşik ekonomik-politik düzen, birçoklarının maddi alım gücünün düşük olmasına neden olmaktadır. Fakat insan gruplarının modern zamanlara ve çağa ayak uyduramamasının tek suçlusu sistem değildir. Canlılığın bir niteliği olarak çocukluk, yaşlılık ve engellilik gibi biyolojik gerçekler, çoğu zaman diğerlerinin yardımına muhtaç bireyleri doğurmaktadır.</p>
                </blockquote>

                <p>Aşağıda paketlerimiz ve fiyatları vardır. İsteğinize göre seçebilirsiniz.</p>

            </div>
        </div>



        <div class="row pricing-table">

            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Basic</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">9TL<span class="price-cents"></span><span class="price-month"></span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">5 Projects</li>
                        <li class="list-group-item">5 GB of Storage</li>
                        <li class="list-group-item">Up to 100 Users</li>
                        <li class="list-group-item">10 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Plus</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">19TL<span class="price-cents"></span><span class="price-month"></span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">10 Projects</li>
                        <li class="list-group-item">10 GB of Storage</li>
                        <li class="list-group-item">Up to 250 Users</li>
                        <li class="list-group-item">25 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Premium <span class="label label-default">Recommended</span></strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">29TL<span class="price-cents"></span><span class="price-month"></span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited</li>
                        <li class="list-group-item">50 GB of Storage</li>
                        <li class="list-group-item">Up to 1000 Users</li>
                        <li class="list-group-item">100 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Ultimate</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">49TL<span class="price-cents"></span><span class="price-month"></span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited</li>
                        <li class="list-group-item">150 GB of Storage</li>
                        <li class="list-group-item">Unlimited</li>
                        <li class="list-group-item">500 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div><!-- /.container -->

    <footer>
        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <a class="footer-brand" href="index.html">Yaratıcı Tasarım</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing. Sed est quam, pretium a vestibulum vel, aliquam vitae eros.</p>
                    <ul class="list-inline list-unstyled social-networks">
                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-facebook normal">
                                    <i class="fa fa-facebook"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-facebook"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-twitter normal">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-twitter"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-google-plus normal">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-youtube normal">
                                    <i class="fa fa-youtube-play"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-youtube-play"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-linkedin normal">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-pinterest normal">
                                    <i class="fa fa-pinterest"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-pinterest"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3>CONTACT</h3>
                    <address>
                        <i class="fa fa-map-marker"></i> 123 My Street, Banzhow City, CA 4567<br>
                        <i class="fa fa-phone"></i> (123) 456-7890<br>
                        <i class="fa fa-envelope"></i> info@banzhow.com
                    </address>
                </div>

                <div class="col-lg-3 col-md-3">
                    <h3>LATEST TWEETS</h3>
                    <ul class="latest-tweets">
                        <li>
                            <i class="fa fa-twitter"></i> Twitter içerik gönderimiz 1.
                        </li>
                        <li>
                            <i class="fa fa-twitter"></i> Twitter içerik gönderimiz 2.
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3">
                    <h3>NEWSLETTER</h3>
                    <p>Type your email address below and subscribe to our newsletter</p>
                    <div class="input-group">
                        <input type="text" placeholder="Email" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div><!-- /.row -->

        </div><!-- /.container -->
    </footer>

    <div class="footer-after">
        <div class="container">
            <div class="row">
                <p class="col-md-10">©2014 All rights reserved. Designed by John Doe.</p>
                <p class="col-md-2 legal"><a href="#" rel="nofollow">Legal Notice</a></p>
            </div><!-- /.row -->
        </div>
    </div>

    <!-- Switcher -->
    <script type="text/javascript" src="/banzhow/js/switcher/switcher.js"></script>
    <link href="/banzhow/js/switcher/switcher.css" rel="stylesheet">

    <div id="switcher-options">
        <a href="#" class="switcher-btn"><i class="fa fa-cog"></i></a>
        <small>Switch Theme Colour</small>
        <ul class="list-unstyled list-inline">
            <li><a href="#" class="theme-colour default" data-name="default"></a></li>
            <li><a href="#" class="theme-colour blue" data-name="blue"></a></li>
            <li><a href="#" class="theme-colour violet" data-name="violet"></a></li>
            <li><a href="#" class="theme-colour red" data-name="red"></a></li>
            <li><a href="#" class="theme-colour orange" data-name="orange"></a></li>
        </ul>
    </div>
    <!-- /Switcher -->

</body>

</html>
